.component-grid .btn-lg {
	width: 200px; 
	height: 200px;
	position: relative;
}

.component-grid  .row {
	margin: 50px 0;
}

img.component_thumb {
	left: 50%;
	top: 50%;
	position: absolute;
	margin-top: -75px;
	margin-left: -75px;
	padding: 20px;
}

.component-name {
	position: absolute;
	bottom: 10px;
	width: calc(100% - 32px);
}

.component-name span {
	text-align: center;
}
.top-buffer { margin-top:20px; }