<!DOCTYPE html>
<html ng-app="KESJ">
<head lang="en">
    <meta charset="UTF-8">
    <title>KESJ - Component selector</title>

    <!-- jquery -->
    <script src="../../js/jquery-1.11.1.min.js"></script>

    <!-- angularjs -->
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/angular-route.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <script src="../../js/bootstrap.min.js"></script>



    <!-- custom styles -->
    <link rel="stylesheet" href="../../css/style.css" />

    <!-- custom scripts -->
    <script src="../../js/app.js"></script>
    <script src="../../js/controller.js"></script>
</head>
<body>
    <header>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <h1 style=""><span style="float: left;">KESJ - Componenten Selector </span><span style="float: right;"> Product Detail</span></h1>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div id="products" class="row list-group">
                <div class="item  col-xs-4 col-lg-4 list-group-item">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="http://www.alternate.nl/p/230x230/t/Aerocool_Strike_X_EN53754__800_Watt_voeding@@tn8rx1.png" alt="">
                        <div class="caption">
                            <div class="row">
                                <div class="col-md-9">
                                    <h4 class="group inner list-group-item-heading"><strong>Titel: </strong>Aerocool Strike-X EN53754</h4>

                                    <p class="group inner list-group-item-text"><strong>Omschrijving: </strong><br/>De Strike-X EN53754 van Aerocool is een ATX voeding en levert een vermogen van 800 Watt met een efficiëntie van 88%. Deze voeding heeft één 139mm Fan ingebouwd en is beveiligd tegen stroompieken (OCP), tegen overspanning (OVP), tegen kortsluiting (SCP) en tegen oververhitting (OTP). Verder beschikt hij onder andere over 5x 5,25 molex, 8x SATA en 4x PCIe 6+2 pins aansluitingen.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    <div class="specs">
                                        <dl>
                                            <dt>Prijs: </dt>
                                            <dd>&euro; 94.90</dd>
                                            <dt>Bouwvorm: </dt>
                                            <dd>ATX</dd>
                                            <dt>Vermogen</dt>
                                            <dd>800 WATT</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="specs">
                                        <dl>
                                            <dt>Certificaat</dt>
                                            <dd>80 PLUS Bronze</dd>
                                            <dt>Garantie: </dt>
                                            <dd>24 maanden</dd>
                                            <dt>Koeler: </dt>
                                            <dd>139 mm</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2014 - KESJ</p>
    </footer>
</body>
</html>